@charset "utf-8";
body{
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
.logo{

}
.header{
    width: 1200px;
    height: 400px;
    text-align: left;
}
.header ul{
    display:flex;
    
    background-color: black;
}
.header ul li{
    margin: 10px;

}
ul{
    list-style: none;
    
}
ul li a{
    text-decoration: none;
    color: white;
}
h1{
    font-weight: bold;
    width: 900px;
    border-bottom: 1px solid black;
}
.side h2{
    border-bottom: 1px solid black;
    font-size: large;
}
.side h3{
    font-size: small;
    font-weight: normal;
}
.side{
    width: 400px;
    margin-top: 27.5px;
    margin-left: 20px;
}
.ok{
    display: flex;
}
.image{
    transform: translateY(-20%);
}
p{
    transform: translateY(-100px);
}
.box{
    display: flex;
    column-gap: 20px;
    padding: 20px;
    width: 860px;
    background-color: lightgray;
    transform: translateY(-100px);
}
.box_pic{
    width: 200px;
}
.memo{
    margin:0;
    text-align: center;
    transform: translateY(5px);
}
.ky{
    transform: translateY(-80px);
    background-color: black;
    width: 1160px;
    height: 30px;
    display: flex;
}
.ky li{
    color: white;
    margin-top: 5px;
    margin-right: 20px;
}